# Example YAML to get you started quickly.
# Be aware that YAML has indentation based scoping.
# Code completion support is available so start typing for available options.
swagger: '2.0'

# This is your document metadata
info:
  version: "0.0.1"
  title: Nerdakademie API

host: bot.nerdakademie.xyz
schemes:
  - https
basePath: "/api"

tags:
  - name: User
    description: User Api
  - name: CIS
    description: CIS relevant API
paths:
#User
  /user/login:
    post:
      description: Logs user in. (Setting cookie)
      tags:
        - User
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/user_password"
      responses:
        200:
          description: Successful response
          schema:
            $ref: "#/definitions/successMessage"
        404:
          description: Error
          schema:
            $ref: "#/definitions/successMessage"
  /user/logout:
    get:
      description: Invalidates session
      tags:
        - User
      responses:
        200:
          description: Successful response
          schema:
            $ref: "#/definitions/successMessage"
  /user/register:
    post:
      description: Register new user
      tags:
        - User
      consumes:
          - application/json
      produces:
          - application/json
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/user_password"
      responses:
        200:
          description: Successful response
          schema:
            $ref: "#/definitions/successMessage"
        404:
          description: Error
          schema:
            $ref: "#/definitions/successMessage"
  #Speiseplan
  /cis/speiseplan:
    get:
      description: Get the Speiseplan of the NAK Mensa as a json
      tags:
        - CIS
      parameters:
        - name: year
          in: query
          required: false
          type: number
          format: int
        - name: week
          in: query
          required: false
          type: number
          format: int
      responses:
        200:
          description: Successfull
          schema:
            $ref: "#/definitions/speiseplan"
definitions:
  successMessage:
    type: object
    properties:
      success:
        type: boolean
        example : false
  user_password:
    properties:
      username:
        type: string
      password:
        type: string
  speiseplan:
    title: Array of Days
    type: array
    items:
      $ref: "#/definitions/speiseplan_day"
  speiseplan_day:
    title: Day
    type: object
    properties:
      date:
        type: string
      day:
        type: string
      meals:
        type: array
        items:
          $ref: "#/definitions/speiseplan_meals"
  speiseplan_meals:
      title:  meal
      type: object
      properties:
        description:
          type: string
        price:
          type: string