# Example YAML to get you started quickly.
# Be aware that YAML has indentation based scoping.
# Code completion support is available so start typing for available options.
swagger: '2.0'

# This is your document metadata
info:
  version: "0.0.1"
  title: Nerdakademie API

host: api.nerdakademie.xyz
schemes:
  - https
basePath: "/v1"

tags:
  - name: User
    description: User Api
  - name: CIS
    description: CIS relevant API
  - name: OAuth
    description: OAuth API used to authenticate with the Cis API
paths:
#User
  /user/login:
    post:
      description: Logs user in. (Setting cookie)
      tags:
        - User
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/user_password"
      responses:
        200:
          description: Successful response
          schema:
            $ref: "#/definitions/successMessage"
        404:
          description: Error
          schema:
            $ref: "#/definitions/successMessage"
  /user/logout:
    get:
      description: Invalidates session
      tags:
        - User
      responses:
        200:
          description: Successful response
          schema:
            $ref: "#/definitions/successMessage"
  /user/register:
    post:
      description: Register new user
      tags:
        - User
      consumes:
          - application/json
      produces:
          - application/json
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/user_password"
      responses:
        200:
          description: Successful response
          schema:
            $ref: "#/definitions/successMessage"
        404:
          description: Error
          schema:
            $ref: "#/definitions/successMessage"
#Speiseplan
  /cis/speiseplan:
    get:
      description: Get the Speiseplan of the NAK Mensa as a json
      tags:
        - CIS
      parameters:
        - name: year
          in: query
          required: false
          type: number
          format: int
        - name: week
          in: query
          required: false
          type: number
          format: int
      responses:
        200:
          description: Successfull
          schema:
            $ref: "#/definitions/speiseplan"
  /cis/seminars:
    get:
      description: Get the available Seminars as json
      tags:
        - CIS
      parameters:
        - name: year
          in: query
          required: false
          type: number
          format: int
        - name: quarter
          in: query
          required: false
          type: number
          format: int
      responses:
        200:
          description: Success
          schema:
            $ref: "#/definitions/availableSeminars"
  /cis/user:
    get:
      description: Shows user informations
      tags:
        - CIS
      responses:
        200:
          description: Success
  /cis/user/exams:
    get:
      description: Shows user exams with credits and result. When examid is specified will display the overview of grades for that exam
      parameters:
      - name: examid
        in: query
        required: false
        type: number
        format: int
      responses:
        200:
          description: Success
  /cis/user/seminars:
    get:
      description: When used without parameter shows the seminars the user participated in. Else it shows details about the exam
      parameters:
      - name: seminarid
        in: query
        required: false
        type: number
        format: int
      responses:
        200:
          description: Success
  successMessage:
    type: object
    properties:
      success:
        type: boolean
        example : false
  user_password:
    properties:
      username:
        type: string
      password:
        type: string
  speiseplan:
    title: Array of Days
    type: array
    items:
      $ref: "#/definitions/speiseplan_day"
  speiseplan_day:
    title: Day
    type: object
    properties:
      date:
        type: string
      day:
        type: string
      meals:
        type: array
        items:
          $ref: "#/definitions/speiseplan_meals"
  speiseplan_meals:
    title:  meal
    type: object
    properties:
      description:
        type: string
      price:
        type: string
  seminar:
    title: Seminar
    type: object
    properties:
      title:
        type: string
      lecturer:
        type: string
      from:
        type: string
      to:
        type: string
      description:
        type: string
      category:
        type: string
      seminarid:
        type: number
        format: int
  availableSeminars:
    title: Array of available Seminars
    type: array
    items:
      $ref: "#/definitions/seminar"